<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Galaxy_Plant_In_xFF23__xFF32__xFF39__xFF33__xFF34__xFF21__xFF2C__ケイジ.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Galaxy_Plant_In_xFF23__xFF32__xFF39__xFF33__xFF34__xFF21__xFF2C__ケイジ.Properties.Settings>
            <setting name="GalaxyProjectPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Language" serializeAs="String">
                <value>日本語</value>
            </setting>
            <setting name="AdvancedView" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GameVersion" serializeAs="String">
                <value>0</value>
            </setting>
        </Galaxy_Plant_In_xFF23__xFF32__xFF39__xFF33__xFF34__xFF21__xFF2C__ケイジ.Properties.Settings>
    </userSettings>
</configuration>